[INFO] Starting Kconfig fix at Sat Jun 21 13:21:20 PKT 2025
[*] Fixing ./net/bpfilter/Kconfig
[✓] Fixed ./net/bpfilter/Kconfig (backup saved as ./net/bpfilter/Kconfig.bak)
[*] Fixing ./security/Kconfig.hardening
[✓] Fixed ./security/Kconfig.hardening (backup saved as ./security/Kconfig.hardening.bak)
[✔] Done fixing Kconfig syntax at Sat Jun 21 13:21:20 PKT 2025
